@import "custom";

/* ##################################################### */
// Global App variables:

$headerInnerMTop: 0.5rem;
$headerInnerMBottom: 0.5rem;
$movieCardHeightLG: 755px;
$movieCardHeightMD: 600px;
$movieCardHeightSM: 300px;


/* #######################################################
Helpers
####################################################### */

.clearfix::before, .clearfix::after {
	display: table;
	clear: both;
	content: "";
}


/* #######################################################
Header
####################################################### */

#header {
	margin: 0;
	width: 100%;
	padding: 36px 0 42px 0;
	background: url('./img/bg-header.png') repeat-x;
	height: 184px;
	
	.inner {
		margin: $headerInnerMTop 0 $headerInnerMBottom 0;
		padding: 28px 0 0;
		position: relative;
		width: 960px;
	}
	
	.menu-wrap {
		width: 100%;
	}
	
	.app-title {
		font-family: cursive;
		font-size: 3rem;
		text-align: center;
		line-height: 3.3rem;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	.buttons {
	
	}
}


#navigation {
	
	li {
		padding: 0 5px 0 5px;
	}
	
	li > a {
	
	}
}

/* #######################################################
Content
####################################################### */


#body {
	color: #FFFFFF;
	border: 1px solid #4f4f4f;
	margin-top: 1.2rem;
}

.page-title {
	padding: 0.4rem;
}

/* #######################################################
Content - Movies
####################################################### */

.movie-list-full {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	list-style: none;
}

.movie-card {
	border: 1px solid #4f4f4f;
	height: $movieCardHeightLG;
	margin-bottom: 0.3rem;
	
	.img-wrap {
		
		img {
			max-width: 100%;
		}
	}
	
	.title {
		padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	}
	
	.description {
		padding: 0.3rem;
	}
}

.movie-list-full .movie-list-item {
	width: 25%;
}

@media (max-width: $breakPointMD) {
	.movie-list-full .movie-list-item {
		width: 50%;
	}
	.movie-card {
		height: $movieCardHeightMD;
	}
}

@media (max-width: $breakPointSM) {
	.movie-list-full .movie-list-item {
		width: 100%;
	}
	.movie-card {
		height: $movieCardHeightSM;
	}
}
