@import "custom";

/* ##################################################### */
// Global App variables:

$headerMTop: 0.5rem;
$headerMBottom: 0.5rem;


/* #######################################################
Header
####################################################### */

#header {
	margin: $headerMTop 0 $headerMBottom 0;
	display: flex;
	width: 100%;
	align-items: center;
	
	.app-title {
		flex-grow: 1;
	}
	.buttons {
	
	}
}

/* #######################################################
Content
####################################################### */
